<% layout('./layout/boilerplate') -%>
 
<body>
  <nav class="navbar" style="background-color: #276e6a; border-radius: 25px; height: 35px;">
    <div class="container-fluid" style="display: flex; justify-content: center;">
      <a href="http://localhost:3000/codemath" class="nav-link align-text-top" style="font-family: 'Merriweather', serif; color: azure; ">Home</a>
      </div>
  </nav>
    <div class="px-4 py-5 my-5 card" style="border: solid #276e6a ;">
      
        <h1 class="display-5 fw-bold text-body-emphasis" style="text-align: center;"><%= q.title %></h1><div style="display: flex; justify-content: space-between;">
        <img src="<%= q.image %>" style="position: relative; height: 20em; width: 20em; top:50%; display: flex;  border-radius: 50%;" >
        
        <div class="col-lg-6 mx-auto" style="padding: 2%;">
          <p class="lead mb-4"><%= q.description %></p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="http://localhost:3000/codemath/lecture/<%= q.name %>"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Lectures</button></a>
            <a href="<%= q.question %>">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Questions</button></a>
          </div>
          </div>
        </div>
      </div>
      
</body>
